body { /* defines font family for all pages */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: #AB946C;

    h1 {
      padding: 10px;
      text-align: left;
      color: #f7f7f7;
      text-shadow: 2px 2px 5px #770000;
    }
}

.body {
    padding: 10px;
    font-size: 11pt;
    display: flex;
    flex-direction: column;
    p {
      font-size: 15pt;
      color: #f7f7f7;
      display: inline-block;
      line-height: 1.5;
    }
    li {
        display: inline-block;
        text-align: center;
        background-color: #AB946C;
        border-radius: 8pt;
        margin: 0em 0em 0em -3em;
    }
    a {
      font-size: 12pt;
      text-decoration: none;
      color: #f7f7f7;
      padding: 15px;
    }

    #pages{
        a, p {
          text-align: center;
          font-size: 12pt;
          color: #f7f7f7;
          display: block;
        }
        li {
            width: 110%;

        }
    }

    #schedule {
        li {
            display: inline-block;
            background-color: #AB946C;
            border-radius: 8pt;
            margin: 0.25em 0.25em 0.25em -2em;
            padding: 0.5em;
            font-size: 15pt;
        }
    }


}